<!DOCTYPE html>
<html>
	<head>
		<title>itinerantfoodie :: {{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/template/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/template/assets/css/main.css" />
		<link rel="stylesheet" href="/css/tags.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
		<script src="/js/bower_components/moment/moment.js"></script>
		<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
		<!--[if lte IE 9]><link rel="stylesheet" href="/template/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/template/assets/css/ie8.css" /><![endif]-->
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">#itinerantfoodie ✈️🍴</a></h1>
						<nav class="links">
							<ul>
								<li><a href="https://github.com/itinerantfoodie">My Code 🖥</a></li>
								<li><a href="https://twitter.com/nolim1t">Ramblings 🗯</a></li>
								<li><a href="http://nolim1t.co/">My Tech Blog 📱</a></li>
								<li><a href="https://instagram.com/nolim1t">Photos 📷</a></li>
								<li><a href="https://foursquare.com/nolim1t">Places 📍</a></li>
							</ul>
						</nav>
					</header>

					<section id="main">
						<!-- Intro -->
							<section id="intro">
								<header>
									<img src="/images/itinerantfoodieV2.png" alt="The Itinerant Foodie" />
									<div>&nbsp;</div>
									<p>eat, sleep, and travel</p>
									<div id="lastseen"></div>
									<div id="helloreact"></div>
								</header>
							</section>

						<!-- Posts List -->
							{{ content }}

						<!-- About -->
						<section class="blurb">
							<h2>Who am I?</h2>
							<p>I write codes, I am passionate about usability / user interaction ), I travel (alot), I snapchat 👻 (alot), and I blog (sometimes) <a href="/about/">[Read More]</a></p>
						</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://m.me/itinerantfoodie" class="fa-facebook"><span class="label">foursquare</span></a></li>
									<li><a href="https://github.com/itinerantfoodie" class="fa-github"><span class="label">Github</span></a></li>
									<li><a href="https://instagram.com/nolim1t" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://foursquare.com/nolim1t" class="fa-foursquare"><span class="label">foursquare</span></a></li>
									<li><a href="http://feeds.feedburner.com/Itinerantfoodie" class="fa-rss"><span class="label"RSS Feed</span></a></li>
								</ul>
								<p class="copyright">&copy; Content: itinerantfoodie.com / nolim1t.co. Design Inspired by <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>. Made with ❤︎ in Hong Kong / Taipei</p>
							</section>
					</section>
			</div>

		<!-- Scripts -->
			<script src="/template/assets/js/skel.min.js"></script>
			<script src="/template/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/template/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/template/assets/js/main.js"></script>
			<!-- Lightning module -->
			<script type="application/javascript" src="https://nolim1t.co/js/qrcodegen.js"></script>
            <script src="//nolim1t.co/js/addon-btc-lightning.js"></script>
	</body>
</html>
